{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <head>
        <meta charset="UTF-8">
        <title>About Uzzi </title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <body class="backk">
            <div class="can">
                <body style="background-color:rgb(189, 185, 185);"></body>
                <h3 class="top"><a id="top1" href="website.html">Home</a></h3>
                <h3 class="top"><a id="top1" href="about_me.html">About Me</a></h3>
                <h3 class="top"><a id="top1" href="#">Shop</a></h3>
                <h3 class="top"><a id="top1" href="contact.html">Contact</a></h3>
            </div>
    </head>
    <body><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="about">
       <div class="container">
           <div class="row">
           <div class="col-md-5">
               <div class="about-img">
               <img class="shape" src="about_tringle.png" alt="">
               <img class="man" src="me.PNG" alt="">
               </div>
           </div>
           <br>
           <div class="col-md-7 about-right">
               <h2 class="color-3"><b>About Me</b>
               </h2>
               
               <p class="p-first text-white">
                I was born in Kathmandu, Nepal and now I am based
                 in Nashville, Tennessee. The factor that makes me unique is that I am full 
                 of enthusiasm and passion for whatever I do. I graduated 
                 high school from Princeton International college studying 
                 science/biology. I am currently pursuing a degree in Information Systems. 
                Being a firm beleiver of living in the moment and planning for the future I tend to be 
                very focused and deicated on being a vivid listener as well as a go getter. Apart from music I like
                soccer, hanging out with friends, adrenaline activities  and learning about new technologies. I 
                aim to connect with people through my music and share my sound around
                the world.
            
               </p>
               <p class="text-white">
                <!-- Write another paragraph here-->
                I have released some songs such as, Timro Tasbirko musakan , 
                Herdaina ma farkera and on course to release more music individually and 
                through MOS Nepal, which is a record lebal based in Nepal. 
               </p>
               
               <ul class="about-link">
                <a href="https://www.youtube.com/channel/UC5ca_Z4VIiLWcVoNdlizKGg" target="_blank" class="fa fa-youtube" style="font-size: 25px; color: white;" ></a>
                <a href="https://www.instagram.com/uzzi_72/" class="fa fa-instagram" target="_blank" style="font-size: 25px; color: white;"></a>
                <a href="https://www.facebook.com/ujjwal.bhattarai.3701" target="_blank" class="fa fa-facebook" style="font-size: 25px; color: white;"></a>
                <a href="https://soundcloud.com/ujjwal-bhattarai72" target="_blank" class="fa fa-soundcloud" style="font-size: 25px; color: white;" ></a>
            
               </ul>
            
               
           </div>
           </div>
       </div>
    </section>
    </body>
</html> --}}