<head>
    <title>Home - Uzzi </title>
    <title>Ujjwal Bhattarai</title>
</head>
<body>
    <div class="home-taskbar">
        <div class="taskbar-item">
            <LinkTo @route="index" @class="dropdown dropdown-6">Home
                <ul class="dropdown_menu dropdown_menu--animated">
                    <li class="dropdown_item">Main Page</li>
                </ul>
            </LinkTo>
            <LinkTo @route="about" @class="dropdown">About Me</LinkTo>
            <LinkTo @route="index" @class="dropdown">Shop</LinkTo>
            <LinkTo @route="index" @class="dropdown">Contact</LinkTo>
        </div>
    </div>
    <img class="home-picture" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.6435-9/98212255_1916366165164662_2291559683153985536_n.png?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=HN4J1R7oUc8AX-W3v1B&_nc_ht=scontent-atl3-1.xx&oh=bd65adc2daaf8820d18902273f2afd12&oe=6166F808" alt="Main Photo">
    <body>
        <div class="desc">
            <a href="https://www.youtube.com/channel/UC5ca_Z4VIiLWcVoNdlizKGg" target="_blank" class="fa fa-youtube" style="font-size: 25px; color: white;" ></a>
            <a href="https://www.instagram.com/uzzi_72/" class="fa fa-instagram" target="_blank" style="font-size: 25px; color: white;"></a>
            <a href="https://www.facebook.com/ujjwal.bhattarai.3701" target="_blank" class="fa fa-facebook" style="font-size: 25px; color: white;"></a>
            <a href="https://soundcloud.com/ujjwal-bhattarai72" target="_blank" class="fa fa-soundcloud" style="font-size: 25px; color: white;" ></a>
        </div>
    </body>
</body>