<head>
    <title>Home - Uzzi </title>
    <title>Ujjwal Bhattarai</title>
</head>
<body class="backk">
    <div class="can">
        <body style="background-color:whitesmoke;"></body>
        <LinkTo @route="index">Home</LinkTo>
        <LinkTo @route="about">About Me</LinkTo>
        <LinkTo @route="index">Shop</LinkTo>
        <LinkTo @route="index">Contact</LinkTo>
    </div>
    <div class="mus">
        <div class="row">
            <iframe width="450" height="250" class="vid" src="https://www.youtube.com/embed/KjNKAm9YZgY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <img src="picture.PNG" class="ujj">
            <iframe width="450" height="250" class="vid1" src="https://www.youtube.com/embed/z7A8fz74SeM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="desc">
            <h1 class="desc1">Hi!</h1>
            <h3 class="desc2">My name is Ujjwal Bhattarai. I am a singer.</h3>
            <h3 class="desc3">I mostly do covers but I also have a few original songs.</h3>
            <h3 class="desc3">For more info on who I am click the link below <h3 class="top"><a id="top1" href="about_me.html">YESSIRRRRR</a></h3>></h3>
            <a href="https://www.youtube.com/channel/UC5ca_Z4VIiLWcVoNdlizKGg" target="_blank" class="fa fa-youtube" style="font-size: 25px; color: white;" ></a>
            <a href="https://www.instagram.com/uzzi_72/" class="fa fa-instagram" target="_blank" style="font-size: 25px; color: white;"></a>
            <a href="https://www.facebook.com/ujjwal.bhattarai.3701" target="_blank" class="fa fa-facebook" style="font-size: 25px; color: white;"></a>
            <a href="https://soundcloud.com/ujjwal-bhattarai72" target="_blank" class="fa fa-soundcloud" style="font-size: 25px; color: white;" ></a>
        </div>
    </div>
</body>
